<section #section class="section">
  <button #buton1 (click)="play(audio1)" class="btn">
    A
    <p>clap</p>
  </button>
  <button #buton2 (click)="play(audio2)" class="btn">
    S
    <p>hihat</p>
  </button>
  <button #buton3 (click)="play(audio3)" class="btn">
    D
    <p>kick</p>
  </button>
  <button #buton4 (click)="play(audio4)" class="btn">
    F
    <p>openhat</p>
  </button>
  <button #buton5 (click)="play(audio5)" class="btn">
    G
    <p>boom</p>
  </button>
  <button #buton6 (click)="play(audio6)" class="btn">
    H
    <p>ride</p>
  </button>
  <button #buton7 (click)="play(audio7)" class="btn">
    J
    <p>snare</p>
  </button>
  <button #buton8 (click)="play(audio8)" class="btn">
    K
    <p>tom</p>
  </button>
  <button #buton9 (click)="play(audio9)" class="btn">
    L
    <p>tink</p>
  </button>
</section>
<audio #audio1 src="../../assets/JS30-1.Proje/sounds/clap.wav"></audio>
<audio #audio2 src="../../assets/JS30-1.Proje/sounds/hihat.wav"></audio>
<audio #audio3 src="../../assets/JS30-1.Proje/sounds/kick.wav"></audio>
<audio #audio4 src="../../assets/JS30-1.Proje/sounds/openhat.wav"></audio>
<audio #audio5 src="../../assets/JS30-1.Proje/sounds/boom.wav"></audio>
<audio #audio6 src="../../assets/JS30-1.Proje/sounds/ride.wav"></audio>
<audio #audio7 src="../../assets/JS30-1.Proje/sounds/snare.wav"></audio>
<audio #audio8 src="../../assets/JS30-1.Proje/sounds/tom.wav"></audio>
<audio #audio9 src="../../assets/JS30-1.Proje/sounds/tink.wav"></audio>
